<a href="https://colab.research.google.com/github/Jyothsna9618/Jabboju1/blob/main/Assignment_08/assignment08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 08

1. Use Pandas to read the file census_costs.txt file
2. Find out how many rows and columns it has
3. Display first 10, last 10, and random 10 rows
4. Find out the data types of all columns - use `info()` function
5. Find out the summary statistics of all columns
6. Cleanse the data to make the year, population, cost, cost per person numerical type 
  - Code functions to cleanse the columns. One function for one column
  - use `apply()` method of data frame to apply the functions to the columns for data cleansing
7. Find out the summary statistics of the numerical columns - use `describe()` function
8. Use Plotly to plot the average cost per person over time.
9. Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_csv("census_costs.txt", skiprows=1, sep="\t")
df.head(3)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents

In [ ]:
df.shape

(23, 4)

In [ ]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [ ]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [ ]:
df.sample(10)

   Census Year Total Population     Census Cost Average Cost Per Person
1         1800        5,308,483         $66,109              1.24 cents
4         1830       12,866,020        $378,545              2.94 cents
7         1860       31,443,321      $1,969,377              6.26 cents
20        1990      248,718,301  $2,492,830,000                  $10.02
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
2         1810        7,239,881        $178,445              2.46 cents
18        1970      203,302,031    $247,653,000                   $1.22
21        2000      281,421,906    $4.5 Billion                  $15.99
14        1930      122,775,046     $40,156,000             32.71 cents

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [ ]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

In [ ]:
def cleanse_py(a_string):
    return int(a_string.replace(",","").replace("*",""))

In [ ]:
df["year"] = df["Census Year"].apply(cleanse_py)  
df["tot_pop"] = df["Total Population"].apply(cleanse_py)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,year,tot_pop
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483
2,1810,"7,239,881","$178,445",2.46 cents,1810,7239881
3,1820,"9,633,822","$208,526",2.16 cents,1820,9633822
4,1830,"12,866,020","$378,545",2.94 cents,1830,12866020
5,1840,"17,069,458","$833,371",4.88 cents,1840,17069458
6,1850,"23,191,876","$1,423,351",6.14 cents,1850,23191876
7,1860,"31,443,321","$1,969,377",6.26 cents,1860,31443321
8,1870,"38,558,371","$3,421,198",8.87 cents,1870,38558371
9,1880,"50,155,783","$5,790,678",11.54 cents,1880,50155783
10,1890,"62,979,766","$11,547,127",18.33 cents,1890,62979766
11,1900,"76,303,387","$11,854,000",15.54 cents,1900,76303387
12,1910,"91,972,266","$15,968,000",17.07 cents,1910,91972266
13,1920,"105,710,620","$25,117,000",23.76 cents,1920,105710620
14,1930,"122,775,046","$40,156,000",32.71 cents,1930,122775046
15,1940,"131,669,275","$67,527,000",51.29 cents,1940,131669275
16,1950,"151,325,798","$91,462,000",60.44 cents,1950,151325798
17,1960,"179,323,175","$127,934,000",71.34 cents,1960,179323175
18,1970,"203,302,031","$247,653,000",$1.22,1970,203302031
19,1980,"226,542,199","$1,078,488,000",$4.76,1980,226542199
20,1990,"248,718,301","$2,492,830,000",$10.02,1990,248718301
21,2000,"281,421,906",$4.5 Billion,$15.99,2000,281421906
22,2010*,"308,745,538",$13 Billion,$42.11,2010,308745538

In [ ]:
def cleanse_cost(b_string):
    return (b_string.replace(",","").replace("$","").replace(" Billion","000000000"))

In [ ]:
df["census_cst"] = df["Census Cost"].apply(cleanse_cost)
df["census_cst"] = pd.to_numeric(df["census_cst"])
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,year,tot_pop,census_cst
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,4.437700e+04
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,6.610900e+04
2,1810,"7,239,881","$178,445",2.46 cents,1810,7239881,1.784450e+05
3,1820,"9,633,822","$208,526",2.16 cents,1820,9633822,2.085260e+05
4,1830,"12,866,020","$378,545",2.94 cents,1830,12866020,3.785450e+05
5,1840,"17,069,458","$833,371",4.88 cents,1840,17069458,8.333710e+05
6,1850,"23,191,876","$1,423,351",6.14 cents,1850,23191876,1.423351e+06
7,1860,"31,443,321","$1,969,377",6.26 cents,1860,31443321,1.969377e+06
8,1870,"38,558,371","$3,421,198",8.87 cents,1870,38558371,3.421198e+06
9,1880,"50,155,783","$5,790,678",11.54 cents,1880,50155783,5.790678e+06
10,1890,"62,979,766","$11,547,127",18.33 cents,1890,62979766,1.154713e+07
11,1900,"76,303,387","$11,854,000",15.54 cents,1900,76303387,1.185400e+07
12,1910,"91,972,266","$15,968,000",17.07 cents,1910,91972266,1.596800e+07
13,1920,"105,710,620","$25,117,000",23.76 cents,1920,105710620,2.511700e+07
14,1930,"122,775,046","$40,156,000",32.71 cents,1930,122775046,4.015600e+07
15,1940,"131,669,275","$67,527,000",51.29 cents,1940,131669275,6.752700e+07
16,1950,"151,325,798","$91,462,000",60.44 cents,1950,151325798,9.146200e+07
17,1960,"179,323,175","$127,934,000",71.34 cents,1960,179323175,1.279340e+08
18,1970,"203,302,031","$247,653,000",$1.22,1970,203302031,2.476530e+08
19,1980,"226,542,199","$1,078,488,000",$4.76,1980,226542199,1.078488e+09
20,1990,"248,718,301","$2,492,830,000",$10.02,1990,248718301,2.492830e+09
21,2000,"281,421,906",$4.5 Billion,$15.99,2000,281421906,4.500000e+00
22,2010*,"308,745,538",$13 Billion,$42.11,2010,308745538,1.300000e+10

In [ ]:
def cleanse_Average(c_string):
    return(c_string.replace(",","").replace("$","").replace("cents",""))

In [ ]:
df["avg_cost"] = df["Average Cost Per Person"].apply(cleanse_Average)
df["avg_cost"] = pd.to_numeric(df["avg_cost"])
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,year,tot_pop,census_cst,avg_cost
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,4.437700e+04,1.13
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,6.610900e+04,1.24
2,1810,"7,239,881","$178,445",2.46 cents,1810,7239881,1.784450e+05,2.46
3,1820,"9,633,822","$208,526",2.16 cents,1820,9633822,2.085260e+05,2.16
4,1830,"12,866,020","$378,545",2.94 cents,1830,12866020,3.785450e+05,2.94
5,1840,"17,069,458","$833,371",4.88 cents,1840,17069458,8.333710e+05,4.88
6,1850,"23,191,876","$1,423,351",6.14 cents,1850,23191876,1.423351e+06,6.14
7,1860,"31,443,321","$1,969,377",6.26 cents,1860,31443321,1.969377e+06,6.26
8,1870,"38,558,371","$3,421,198",8.87 cents,1870,38558371,3.421198e+06,8.87
9,1880,"50,155,783","$5,790,678",11.54 cents,1880,50155783,5.790678e+06,11.54
10,1890,"62,979,766","$11,547,127",18.33 cents,1890,62979766,1.154713e+07,18.33
11,1900,"76,303,387","$11,854,000",15.54 cents,1900,76303387,1.185400e+07,15.54
12,1910,"91,972,266","$15,968,000",17.07 cents,1910,91972266,1.596800e+07,17.07
13,1920,"105,710,620","$25,117,000",23.76 cents,1920,105710620,2.511700e+07,23.76
14,1930,"122,775,046","$40,156,000",32.71 cents,1930,122775046,4.015600e+07,32.71
15,1940,"131,669,275","$67,527,000",51.29 cents,1940,131669275,6.752700e+07,51.29
16,1950,"151,325,798","$91,462,000",60.44 cents,1950,151325798,9.146200e+07,60.44
17,1960,"179,323,175","$127,934,000",71.34 cents,1960,179323175,1.279340e+08,71.34
18,1970,"203,302,031","$247,653,000",$1.22,1970,203302031,2.476530e+08,1.22
19,1980,"226,542,199","$1,078,488,000",$4.76,1980,226542199,1.078488e+09,4.76
20,1990,"248,718,301","$2,492,830,000",$10.02,1990,248718301,2.492830e+09,10.02
21,2000,"281,421,906",$4.5 Billion,$15.99,2000,281421906,4.500000e+00,15.99
22,2010*,"308,745,538",$13 Billion,$42.11,2010,308745538,1.300000e+10,42.11

In [69]:
df.describe()

            year       tot_pop    census_cst   avg_cost
count    23.0000  2.300000e+01  2.300000e+01  23.000000
mean   1900.0000  1.039211e+08  7.489065e+08  17.921739
std      67.8233  9.622629e+07  2.726728e+09  20.200432
min    1790.0000  3.929214e+06  4.500000e+00   1.130000
25%    1845.0000  2.013067e+07  6.059580e+05   3.850000
50%    1900.0000  7.630339e+07  1.154713e+07  10.020000
75%    1955.0000  1.653245e+08  7.949450e+07  21.045000
max    2010.0000  3.087455e+08  1.300000e+10  71.340000

In [ ]:
fig = px.bar(df, y='avg_cost', x='year', width = 1000 , height = 500)
fig.show()

In [ ]:
fig = px.scatter(df,
    x="census_cst",
    y="tot_pop",  
    template="plotly_dark"
)
fig.update_layout(showlegend=False)
fig.show()